<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="pull-left" href="#"><img id="brand" src="/images/Namibia_COA.png"></a>
      <a class="navbar-brand" href="#"><strong>&nbsp;&nbsp;ICT CITY : NAMIBIA</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="home" class="{{#if active.home}}active{{/if}}"><a href="/">Home</a></li>
        <li id="about" class="{{#if active.about}}active{{/if}}"><a href="/about">About</a></li>
        {{#if user}}
          <li id="visa" class="{{#if active.visa}}active{{/if}}"><a href="/visa">Visa Application</a></li>
          <li id="profile" class="{{#if active.profile}}active{{/if}}"><a href="/profile">Profile</a></li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if user}}
          <li id="logout" class="{{#if active.logout}}active{{/if}}"><a href="/logout"><strong>Logout</strong></a></li>
        {{else}}
          <li id="signup" class="{{#if active.signup}}active{{/if}}"><a href="/signup"><strong>Register</strong></a></li>
          <li id="login" class="{{#if active.login}}active{{/if}}"><a href="/login"><strong>Login</strong></a></li>
        {{/if}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
