<!DOCTYPE html>
<html>
  {{> includes active user=user admin=admin message=message}}
  <body>
    {{> header active user=user admin=admin message=message}}
      {{{body}}}
    {{> footer}}
  </body>
</html>
