<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>About the project</h1>
    <hr>
    <p>Namibia ICT city is an urban development vision to integrate multiple
      information and communication technology (ICT) facets in a central
      upmarket mall or simply summarised as ICT City.</p>

    <p>The ICT city is to amongst others encompass all ICT related stakeholders,
      ranging from the Government Ministry of Information and Communication
      headquarters, to the head office of the National broadcasting corporation
      for both television and radio, to the head office of the Communications
      Regulatory Authority of Namibia, to various ICT State Owned Enterprises
      and private sectors in the ICT. Other sectors in the ICT including service
      providers, e-library, and gadgets retailers across all imaginable possible
      techs are to all be provided space. The envisioned ICT City will be a
      state of the art technologically oriented city mall that will create an
      extremely high level ambiance of a smart building, tranquillity, beauty,
      security and above all else environmentally befitting.</p>
    </p>
  </div>
</div>
