
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Oooops!!</h1>
    <p>Something inside has broken! Please try again or wait until later...</p>
    <br>{{error}}
  </div>
</div>
