<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Visa application</h1>
    <hr>
    <!-- show any messages that come back with authentication -->
    {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}
    <ol>
      <li>Please download the Visa application form</li>
      <li>Fill it in in your favourite PDF reader</li>
      <li>Print it out</li>
      <li>Sign it</li>
      <li>Scan it,</li>
      <li>and upload it on this page!</li>
    </ol><br>
    <a href="/visa/download" class="btn btn-warning btn-md">Download application</a><br><br>
    <ol>
      <li>Browse for your completed application</li>
      <li>and press the "Upload application button!"</li>
    </ol><br>
    <form action='/upload' method='post' encType="multipart/form-data">
      <label class="btn btn-warning btn-file">
        Browse <input type="file" style="display: none;" name="uploadFile" id="uploadFile">
      </label>
      <input type="submit" class="btn btn-warning btn-md" value="Upload application" />
    </form>
  </div>
</div>
